
h1 {
   
    color: rgb(18, 18, 17);
    border: solid 3px gold;
    top: 50px;
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    background-color: silver;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 4em;
    font-family: 'Rubik Bubbles';
    opacity: 80%;
    }
      

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    border: solid 3px gold;
    top: 30px;
    width: 60%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    line-height: 1.5;
    word-spacing: 0.25em;
    background-color: silver;
    opacity: 80%;
   }


li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bold;    
    text-transform: uppercase;
    list-style: none;
}



html {
   
    text-align: center;
    background-image: url("https://iili.io/JYWTCn2.webp"  );
    background-repeat: no-repeat;
    background-color: rgb(250, 228, 240);
    background-size: cover;   
}

nav {
    text-align: left;   
}
 table{
    border: solid 3px gold;
    position: relative;
    top: 0.5px;
    width: 25%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.5px;
    background-color: silver;
    opacity: 80%;
  }
  ul {
    list-style: none;
  }
  h2 {
    border: solid 3px gold;
    position: relative;
    top: 0.5px;
    width: 25%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.5px;
    background-color: silver;
    opacity: 80%;
    
  }

  a {
    color: rgb(7, 0, 0);
    text-transform: uppercase;
    list-style: none;
  }

  table {
    color: black;
  }

  @media only screen and (max-width: 480px) {
  
  }
  
  @media only screen and (min-width: 320px) and (max-width: 480px) , (orientation: portrait) {
    
  }
  
  @media only screen and (min-resolution: 150dpi) {
    
  }
  @media only screen and (max-resolution: 150dpi) and (max-width: 480px) {
    
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }
  